// Define variables for your color scheme

// For example:
$green: #1EDD88;
$light-gray: #F4F4F4;


// personnalized clors:
$blue: #BBDBD6;
$orange: #FE8E0B;
$yellow: #D7F171;
$black: #0E0004;
$red: #F95738;
$gray: #CCCCCF;


