// Specific CSS for your home-page
.image-container{
  background-image: url(/assets/background/girl.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100%;
}

.background-home-image{
  width: 100%;
  position: absolute;
  top: 0px;
  // left: 200px;
  z-index: -10;
  // height: auto;
}

.background-home{
  z-index: -100;
  position: absolute;
  bottom: 0px;
}

.social-media-logos{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
}

.link{
  font-size: 50px;
  color: $black;
  &:hover{
    color: $gray;
  }
}

.text-padding{
  padding: 0 95px;
}

