// Specific CSS for your home-page
.image-container{
  background-image: url(/assets/background/girl.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100%;
}

.backgound-home-image{
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}


