<!-- <div class="container">
  <div class="main-banner" style="background-image: url('/assets/background/girl.jpg');">
  </div>
</div> -->

<%= image_tag('/assets/background/girl.jpg', class: "backgound-home-image") %>

<div class="content-container">
  <div class="banner-big banner-container">
    <h1>L'After</h1>
    <h4 class="mb-5">Work - Sport : découvrez le monde de l'après ! </h4>
    <%= link_to "Je découvre",root_path, class:"button btn-yellow-grey" %>
  </div>
</div>


