.banner-container{
  border-bottom: 1px solid $black;
  padding-left: 75px;
  padding-right: 75px;
  z-index: 100;
}

.banner-big{
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
}

.banner-small{
  padding-top: 0px;
}

.blog-article-banner{
  height: 270px;
  width: 90%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  align-content: center;
}

@media (max-width: 830px){
  .banner-container{
    padding-left: 25px;
    padding-right: 25px;
    }
  .banner-big{
      padding-top: 0px;
      padding-bottom: 30px;
    }
  .blog-article-banner{
    width: 100%;
  }
}

