.blog-card-container{
  height: auto;
  width: 97%;
  display: flex;
  margin: 40px auto;
  background-color: #ffffff61;
  border-radius: 5px;
}

.blog-card-text-content{
  padding: 8px;
  display: flex;
  flex-grow: 1;
}

.blog-card-img{
  border-radius: 5px;
  height: 230px;
  object-fit: cover;
  // filter: brightness(1.2) invert(0);
}

.blog-card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  p{
    text-align: justify;
    font-size: small;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  h5{
    margin-top: -8px;
    margin-bottom: -12px;
  }
  a{
    color: black;
    &:hover{
      text-decoration: none;
      font-weight: bolder;
    }
  }
}

.container-btn{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 8px;
  align-items: flex-end;
}

.tag_btn{
  border: solid 1px #00000005;
  border-radius: 8px;
  padding: 1px 10px;
  background: linear-gradient(153deg, #d7f171 0%, white 100%);
  box-shadow: 1px 1px 5px #0000002e;
}

.tag-list-card{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.blog-index-title{
  margin: 20px 0px 0px 10px;
  font-size: 1.6rem;
}

@media (max-width: 940px){
  .blog-card-img{
    height: 260px;
  }
  .tag_btn{
    font-size: 0.67rem;
    padding: 1px 7px;
  }
  .card-title-content{
    a{
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 830px){
  .h1{
    font-size: 2rem;
  }
  .blog-card-container {
    height: auto;
    flex-direction: column;
    margin: 30px auto;
    padding: 5px;
  }
  .blog-card-img{
    width: 80%;
    height: 250px;
    margin: 10px auto;
  }
  .blog-card-text-content{
    flex-direction: column;
  }
  .blog-card-content{
    h5{
      font-size: 1rem;
    }
  }
  .container-btn{
    flex-direction: row;
    padding: 10px 15px;
    h5{
        font-size: 1.05rem;
        font-weight: lighter;
      }
  }
  .tag_btn{
    font-size: 0.75rem;
  }
  .tag-list-card{
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 640px){
  .blog-card-img{
    width: 95%;
  }
}




