.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff00;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-content{
  display: flex;
  align-items: center;
}

#navbarDropdown {
  color: #000000;
  font-size: 2rem;
}

@media (max-width: 830px){
  .fa-bars{
    display: none;
  }
  .nav-item{
    font-weight: 500p;
  }
  .navbar-light .navbar-nav .nav-link {
    color: $black;
    background: #ffffff8c;
    width: 5em;
    text-align: right;
    padding: 5px 8px;
  }
  .navbar-content {
    align-items: flex-end;
  }
}
