.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff00;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-content{
  display: flex;
  align-items: center;
}

#navbarDropdown {
  color: #000000;
  font-size: 2rem;
}
