.content-container {
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  min-height:100%;
  position: relative;
}

@media (max-width: 830px){
  .content-container {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    min-height:100%;
    position: relative;
  }
}

h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}

h5, h5, h6, p{
  font-family: 'Montserrat', sans-serif;
}

h4, h5, h6, p, label{
  font-weight: 200;
}

h1, h2, h3{
  font-weight: 400;
}

*{
margin:0;
padding:0;
}


// subtitle-light{
//   font-weight: 100;
// }



// body, html{
//   height:100%;
//   display: table;
// }

// body{
// // text-align:center;
// }
