.content-container {
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
}

h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}

h5, h5, p{
  font-family: 'Montserrat', sans-serif;
}
