<div class="content-container">
  <h1>Hello <%= @user.first_name %> ! Trop cool, Hâte de lire ce nouvel article !</h1>
  <h4>Rajouter un épisode de podcast</h4>

  <%= render "form", podcast: @podcast %>

</div>
